<div class="container">
  <section class="featured">
    <div class="d-flex justify-content-center pt-4">
      <h3>ΣΤΕΙΛΤΕ ΜΑΣ ΕΝΑ ΜΗΝΥΜΑ</h3>
    </div>
  </section>
  <div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 m-auto mt-5">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Ονοματεπώνυμο</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Μήνυμα</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Επιθυμώ να λαμβάνω ενημερώσεις σας</label
          >
        </div>
        <div class="btn btn-primary">Αποστολή</div>
      </form>
    </div>
  </div>
</div>
