<div class="container">
  <div class="row">
    <div class="col-4 m-auto mt-5">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Ονοματεπώνυμο</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Μήνυμα</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="btn btn-primary">Υποβολή</div>
      </form>
    </div>
  </div>
</div>
