<div class="d-flex justify-content-center mt-5 pb-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Εγγραφή</h1>
        </div>

        <app-text-input [formControl]="registerForm.controls['displayName']" [label]="'Όνομα'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['email']" [label]="'Email'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['password']" [label]="'Κωδικός'" [type]="'password'"></app-text-input>

        <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>

        <div class="d-grid">
          <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Register</button>
        </div>
      </form>
    </div>

  </div>
